<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>693560897326-b4siqlvk8cm969551ddmi81gep84n0ga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.693560897326-b4siqlvk8cm969551ddmi81gep84n0ga</string>
	<key>API_KEY</key>
	<string>AIzaSyDf2mWBo8wkjelQupOcGITG4-i0572j2M0</string>
	<key>GCM_SENDER_ID</key>
	<string>693560897326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bloodAlert</string>
	<key>PROJECT_ID</key>
	<string>bloodalert-190db</string>
	<key>STORAGE_BUCKET</key>
	<string>bloodalert-190db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693560897326:ios:c7c5e30e5c70759fdf14bf</string>
</dict>
</plist>